.center{
    width:100%;
    text-align:center;
}
.container-fluid{
    width:100%;
    background-color:black;
    
}

.scheduale{
    max-width:1500px;
    margin:0 auto;
   
    display:inline-block;
    color:white;
  
}
.legend{
display:inline-block;
top:0;
color:white;
}
tr{
    
    border: 1px solid #ddd;
}
th{
    
    border-width:2px;
    width:214px;
    height:72px;
    border: 4px solid #ddd;
}
td{
    border: 4px solid #ddd;
    height:72px;
}
.sleep{
background-color:orange;
}
.work {
background-color:red;
}
.adnan{
background-color:green;
}
.quranhalaka{
    background-color:gray;
}
.ANA{
    background-color:blue;
}
html{
    background-color:black;
}
.parents{
    background-color:purple;
}
.john{
    background-color:blue;
}
.prog{
    background-color:darkcyan;
}
.mac{
    background-color:indianred;
}
.indoorvb{
    background-color:maroon;
}
.outdoorvb{
    background-color: aqua;
}
